.header {
    width: 100%;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    box-shadow: 0 1px 8px 0 rgba(0,17,25,.27);
}
.header__logo {
    padding:10px 15px;
    display: flex;
    align-items: center;
}
.header__img {
    border-radius: 50%;
    width: 25px;
    border: 2px solid #fff;
}
.header__title {
    font-family: sans-serif;
    font-size: 1.1rem;
    margin-left: 10px;
    color: #fff;
    font-weight: 500;
}