.header {
    width: 100%;
    cursor: pointer;
}
.header__logo {
    display: flex;
    align-items: center;
    padding:15px 0 0 15px;
    cursor: pointer;
}
.header__img {
    cursor: pointer;
    width: 100px;
}
