.title {
    display: flex;
    align-items: center;
    opacity: .5;
}
.active {
    opacity: 1;
}
.txt {
    padding-left: 10px;
    font-family: 'Bahiana', cursive;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
.imgCss {
    /*margin-right: 10px;*/
    width: 35px;
    height: 31px;
}