.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img {
    width: 200px;
}
.h1 {
    font-size: 1.6rem;
    color: #2d3436;
    font-family: "Nanum Gothic", sans-serif;
}
.span {
    padding:0 10px;
    text-align: center;
    font-size: 1rem;
    color: #2d3436;
    font-family: "Nanum Gothic", sans-serif;
}