.title {
    font-weight: 600;
    font-size: .9rem;
    color: #2c2c2c;
    cursor: pointer;
    padding:0 10px;
    font-family: 'Nanum Gothic', sans-serif;
}
.title a.active {
    padding-bottom: 3px;
    border-bottom: 3px solid#fb4a54;
}
