.title {
    cursor: pointer;
    height: auto;
}
/*.title a.active {*/
/*    padding-bottom: 3px;*/
/*    border-bottom: 3px solid#fb4a54;*/
/*}*/
.link {
    color: #fff;
    display: flex;
    align-items: center;
    opacity: .6;
    margin:15px 0;
}
.active {
    opacity: 1;
}
.img {
    width: 35px;
    height: 25px;
    /*margin-right: 10px;*/
    border-radius:4px;
}