.dialog {
    padding:5px 0 0 0;
    font-size: 1.5rem;
    font-family: 'Rajdhani', sans-serif;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
}
.content {
    min-width: 200px;
    margin: 20px;
    background-color: #131928;
    display: flex;
    border-radius: 5px;
}
.flex {
    display: flex;
}
.active {
    background: rgb(252,48,88);
    background: linear-gradient(80deg, rgba(252,48,88,1) 0%, rgba(125,36,207,1) 100%);
}
.content:hover {
    box-shadow: 0 0 15px 0 hsla(0,0%,50.6%,.22);
}
.photo {
    width: 90px;
    object-fit: cover;
    object-position: top center;
    height: 80px;
}