.dialog {
    padding:5px 0 0 0;
    font-size: 1.1rem;
    font-family: "Nanum Gothic", sans-serif;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
}
.content {
    display: flex;
    padding:10px 20px;
    min-width: 200px;
}
.content:hover {
    border-right: 4px solid #fd5068;
    box-shadow: 0 0 15px 0 hsla(0,0%,50.6%,.22);
}
.link {
    cursor: pointer;
}