@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
.Couples__title {
    font-weight: 600;
    font-size: .9rem;
    color: #2c2c2c;
    padding:0 10px;
    cursor: pointer;
    font-family: 'Nanum Gothic', sans-serif;
}
