.send {
    margin:15px 15px;
    background: rgb(252,48,88);
    background: linear-gradient(80deg, rgba(252,48,88,1) 0%, rgba(125,36,207,1) 100%);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 1.5px;
    text-align: right;
    line-height: 1.3;
    font-family: "Nanum Gothic", sans-serif;
    display: block;
}