.header__inner {
    display: flex;
    align-items: center;
}
.Header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dfd4bc;
    background-color: #fff;
}