.aboutMe {
    margin: 0;
    padding: 0;
    display: block;
}
.mainProfile {
    display: flex;
    margin:20px 50px;
    flex-direction: column;
}
.fullName {
    font-size: 2rem;
    color: #fff;
}