.content {
    flex: 0 0 auto;
    padding:20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(5,84,94,1);
}
.send__info {
    display: flex;
    width: 100%;
}
.send {
    display: flex;
    align-items: center;
}