.dialog {
    padding:10px;
    display: block;
    font-size: 1.1rem;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 600;
    margin-left: 10px;
}
.content {
    display: flex;
    padding:10px 20px;
}
.content:hover {
    border-right: 4px solid #fd5068;
    box-shadow: 0 0 15px 0 hsla(0,0%,50.6%,.22);
}
.link {
    cursor: pointer;
}