.textarea {
    min-width: 560px;
    font-family: 'Nanum Gothic', sans-serif;
    outline: none;
    border: 1px solid #fff;
    padding:8px;    
    resize: none;
    font-size:1.1rem;
    background-color: rgba(5,84,94,1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.textarea::placeholder {
    color: #fff;
}
.content {
    display: flex;
    align-items: center;
}
.btn {
    padding:10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e6e9ed;
    border-radius: 20px;
    font-family: "Nanum Gothic", sans-serif;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    border: none;
    text-transform: uppercase;
}
.contentFlex {
    display: flex;
    align-items: center;
    width: 100%;
}
.sendBtns {
    display: flex;
    align-items: center;
}
.img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 20px;
}