.form {
    display: flex;
    align-items: center;
    background: #161c29;
    box-shadow: 0 2px 5px #161c29;
    padding: 17px 0 18px 0;
}
.img {
    padding-left: 25px;
}
.searchform {
    line-height: 2.5;
    resize: none;
    height: 50px;
    color: #fff;
    font-size: 1rem;
    padding: 5px 5px 5px 10px;
    background: none;
    border: none;
    outline: none;
}
.searchform::placeholder {
    color: #fff;
}